doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    div.container
        div.row
            div.col-sm-8
                block content
            div.col-sm-4
                include ./message.jade

